<ion-view view-title="Editando Nota">
    <ion-content ng-controller="editarCtrl">
        <div class="list card">
            <div class="item item-input">
                <input type="text" ng-model="nota.titulo">
            </div>
            <div class="item item-input">
                <textarea rows="5" ng-model="nota.descricao"></textarea>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="salvar()">
            Salvar
            </button>
        </div>
    </ion-content>
</ion-view>